/* You can add global styles to this file, and also import other style files */


:root{
    --blue-1: #73c7ee;
    --blue-2: #43a8c7;
    --yellow-1: #f2c94c;
    --white: #ffffff;
    --gray: #f2f2f2;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(255, 255, 255, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue-1);
    color: var(--white);
    font-size: 16px;
    width: 100%;
    height: 100vh;
    box-shadow: 10px 10px 10px var(--shadow-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    
    width: 400px;
    height: 80vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}

.upper_data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.upper_data img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}

.weather_data{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--shadow-dark);
}

.location{
    font-size: 1.2em;
    text-align: center;
    color: var(--white);
}

.temperature{
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    color: var(--white);
}